{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <p class="fs-1">Choose A Quiz</p>

    <div class="container text-center">
        <div class="row g-3">
            <div class="card col-sm-6 col-md-4 col-lg-3 mx-2" style="width: 18rem;">
                <img class="card-img-top" src="/static/images/general.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">General Knowledge</h5>
                    <p class="card-text">Explore a mix of topics and see how much you really know about the world!</p>
                    <a href="/quiz?param=general" class="btn btn-primary">Start Quiz</a>
                </div>
            </div>
            <div class="card col-sm-6 col-md-4 col-lg-3 mx-2" style="width: 18rem;">
                <img class="card-img-top" src="/static/images/science.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Science Trivia</h5>
                    <p class="card-text">Discover fascinating facts with questions about physics, biology, and beyond.</p>
                    <a href="/quiz?param=science" class="btn btn-primary">Start Quiz</a>
                </div>
            </div>
            <div class="card col-sm-6 col-md-4 col-lg-3 mx-2" style="width: 18rem;">
                <img class="card-img-top" src="/static/images/world.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">World Geography</h5>
                    <p class="card-text">Test your knowledge of countries, capitals, and natural wonders across the globe.</p>
                    <a href="/quiz?param=world" class="btn btn-primary">Start Quiz</a>
                </div>
            </div>
            <div class="card col-sm-6 col-md-4 col-lg-3 mx-2" style="width: 18rem;">
                <img class="card-img-top" src="/static/images/tv.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Movies and TV</h5>
                    <p class="card-text">From classics to modern hits, show off your expertise in cinema and television.</p>
                    <a href="/quiz?param=movies" class="btn btn-primary">Start Quiz</a>
                </div>
            </div>
            <div class="card col-sm-6 col-md-4 col-lg-3 mx-2" style="width: 18rem;">
                <img class="card-img-top" src="/static/images/math.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Math Puzzles</h5>
                    <p class="card-text">Challenge your mind with exciting problems, brain teasers, and number games.</p>
                    <a href="/quiz?param=math" class="btn btn-primary">Start Quiz</a>
                </div>
            </div>
            <div class="card col-sm-6 col-md-4 col-lg-3 mx-2" style="width: 18rem;">
                <img class="card-img-top" src="/static/images/sports.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Sports Legends</h5>
                    <p class="card-text">Prove your skills with trivia about iconic athletes and unforgettable matches.</p>
                    <a href="/quiz?param=sports" class="btn btn-primary">Start Quiz</a>
                </div>
            </div>
            <div class="card col-sm-6 col-md-4 col-lg-3 mx-2" style="width: 18rem;">
                <img class="card-img-top" src="/static/images/history.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">History Buff</h5>
                    <p class="card-text">Journey back in time to test your knowledge of historical events and figures.</p>
                    <a href="/quiz?param=history" class="btn btn-primary">Start Quiz</a>
                </div>
            </div>
            <div class="card col-sm-6 col-md-4 col-lg-3 mx-2" style="width: 18rem;">
                <img class="card-img-top" src="/static/images/literature.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Literature Quiz</h5>
                    <p class="card-text">Dive into the world of books and authors to prove your literary prowess.</p>
                    <a href="/quiz?param=literature" class="btn btn-primary">Start Quiz</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}