{% extends "layout.html" %}

{% block title %}
    Score
{% endblock %}

{% block main %}

    <div id="scorePage" class="flex-center flex-column">
        <h1 id="finalScore">
            <span class="material-symbols-outlined">trophy</span>{{ data.user_score }}
        </h1>
        <form method="post" id="scoreForm">
            <input type="number" name="score" id="score" value="{{ data.user_score }}" hidden>
            <input type="text" name="username" id="username" value="{{ data.username }}" disabled>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <button type="submit" class="btn btn-primary" id="playBtn">Play Again</button>
                <button type="submit" class="btn btn-primary" id="homeBtn">Go Home</button>
            </div>

        </form>
    </div>

{% endblock %}

{% block script %}
    <script>
        document.getElementById('playBtn').addEventListener('click', function () {
            const form = document.getElementById('scoreForm')
            form.action = `/quiz?param=${"{{ data.quiz_type }}"}`
            form.submit()
        })

        document.getElementById('homeBtn').addEventListener('click', function () {
            const form = document.getElementById('scoreForm')
            form.method = 'GET'
            form.action = '/'
            form.submit()
        })
    </script>

{% endblock %}